.nav-color {
    background-color: rgb(240, 240, 240, 0.8);
}

.main-title-font {
    font-family: 'Playfair Display SC', serif;
}

.main-menu {
    font-family: 'Lora', serif;
    color: rgb(75, 75, 75) !important;
}

.main-menu:hover, .main-menu.active {
    text-shadow: 0 0 0.02px black;
}