body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background {
  background-color: #CCC;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 110px 0 95px;
  margin-bottom: 40px;
  background-size: cover;
}

.bg-main {
  background-image: url('./assets/img/bg-main.jpg');
}

.bg-foodie {
  background-image: url('./assets/img/bg-food.jpg');
}

.bg-hosp {
  background-image: url('./assets/img/bg-hosp.jpg');
}

.bg-fabr {
  background-image: url('./assets/img/bg-fabr.jpg');
}

.bg-acti {
  background-image: url('./assets/img/bg-acti.jpg');
}